# Ignore everything in the "data" directory, except: "traefik"
# ----------------------------------
data/*
!data/traefik/


# Ignore Python Environment
# ----------------------------------
venv/*
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

django_project/venv/*
django_project/.venv
django_project/env/
django_project/.env/
django_project/venv/
django_project/ENV/
django_project/env.bak/
django_project/venv.bak/


# Ignore Byte-compiled
# ----------------------------------
__pycache__/
django_project/__pycache__/


# Ignore Installer logs
# ----------------------------------
*.log
pip-log.txt
pip-delete-this-directory.txt

django_project/*.log
django_project/pip-log.txt
django_project/pip-delete-this-directory.txt


# Ignore Distribution / Packaging
# ----------------------------------
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

django_project/.Python
django_project/build/
django_project/develop-eggs/
django_project/dist/
django_project/downloads/
django_project/eggs/
django_project/.eggs/
django_project/lib/
django_project/lib64/
django_project/parts/
django_project/sdist/
django_project/var/
django_project/wheels/
django_project/pip-wheel-metadata/
django_project/share/python-wheels/
django_project/*.egg-info/
django_project/.installed.cfg
django_project/*.egg
django_project/MANIFEST
