{% extends 'account/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/">





<link href="{% static 'assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">

<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>


<!-- Custom styles for this template -->
<link href="{% static 'css/sidebars.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                    <span class="fs-4">Opções</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li>
                        <a href="{% url 'main:dashboard' %}" class="nav-link link-dark">
                            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'main:list_projects' %}" class="nav-link link-dark">
                            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                            Projetos
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link link-dark">
                            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                            Objetivos
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link link-dark">
                            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                            Métricas
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong>{{ request.user }}</strong>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        <li><a class="dropdown-item" href="{% url 'main:create_project' %}">Adicionar Projeto...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sair...</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            {% block dashboard %}
            <h3 class="display-3 home-text pb-3">Resumo</h3>
            
            <div class="row">
                
                <div class="col-sm-3">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Projetos</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ active_projects|length }}
                                <small class="text-muted fw-light">projeto{{ active_projects|pluralize }} ativo{{ active_projects|pluralize }}</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li><a href="{% url 'main:list_projects' %}">{{ all_projects|length }} projeto{{ all_projects|pluralize }}
                                    trabalhado{{ all_projects|pluralize }}</a></li>
                                <li></li>
                                <strong>Não proprietário:</strong>
                                <li>Pode editar {{ can_edit|length }} projeto{{ can_edit|pluralize }}</li>
                                <li>Pode ler {{ can_read|length }} projeto{{ can_read|pluralize }}</li>
                            </ul>
                            <a class="w-100 btn btn-lg btn-outline-primary" href="{% url 'main:create_project' %}" role="button">+ projeto</a>
                        </div>
                    </div>
                </div>
<!-- Objectives -->
                <div class="col-sm-3">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Objetivos</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ active_objectives|length }}
                                <small class="text-muted fw-light">objetivo{{ active_objectives|pluralize }} ativo{{ active_objectives|pluralize }}</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li><a href="{% url 'main:list_projects' %}">{{ all_objectives|length }} objetivo{{ all_objectives|pluralize }}
                                    trabalhado{{ all_objectives|pluralize }}</a></li>
                                <li></li>
                                <strong>Não proprietário:</strong>
                                <li>Pode editar {{ can_edit_obj|length }} objetivo{{ can_edit_obj|pluralize }}</li>
                                <li>Pode ler {{ can_read_obj|length }} objetivo{{ can_read_obj|pluralize }}</li>
                            </ul>
                            <a class="w-100 btn btn-lg btn-outline-primary" href="{% url 'main:create_project' %}" role="button">+ objetivo</a>
                        </div>
                    </div>
                </div>
                
<!-- Metrics -->
                                <div class="col-sm-3">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Métricas</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ active_metrics|length }}
                                <small class="text-muted fw-light">métrica{{ active_metrics|pluralize }} ativo{{ active_metrics|pluralize }}</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li><a href="{% url 'main:list_projects' %}">{{ all_metrics|length }} métrica{{ all_metrics|pluralize }}
                                    trabalhado{{ all_metric|pluralize }}</a></li>
                                <li></li>
                                <strong>Não proprietário:</strong>
                                <li>Pode editar {{ can_edit_m|length }} métrica{{ can_edit_m|pluralize }}</li>
                                <li>Pode ler {{ can_read_m|length }} métrica{{ can_read_m|pluralize }}</li>
                            </ul>
                            <a class="w-100 btn btn-lg btn-outline-primary" href="{% url 'main:create_project' %}" role="button">+ métrica</a>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script src="{% static 'js/sidebars.js' %}"></script>
{% endblock %}